.main{
    background: #139F36;
}
.nav-link span{
    color:#fafafa;
    font-size: 20px ;
    font-family: Lato, Arial, Helvetica, sans-serif, serif;
}
.nav-logo{
    width: 60%;
}
.logo_img{
    display: flex;
    justify-content: center;
}
.second_nav{
    display: flex;
    justify-content: flex-end;
}