.main{
    background: #139F36;
}
.nav-link span{
    color:#fafafa;
    font-size: 20px ;
    font-family: Lato, Arial, Helvetica, sans-serif, serif;
}
.nav-logo{
    width: 60%;
}
.logo_img{
    display: flex;
    justify-content: center;
}
.dropdown-menu-header {
    --bs-dropdown-bg:#fafafa;
    --bs-dropdown-link-color: #000000;
    --bs-dropdown-link-hover-color: #139F36;
    --bs-dropdown-link-hover-bg: rgb(164 164 164 / 15%);

}
.second_nav{
    display: flex;
    justify-content: flex-end;
}
.dropdown-menu[data-bs-popper]{
    left: -28px;
}