.footer{
    background: #191C24;
}
.footer ul li{
    list-style: none;
    color: #d3d3d3;
}
.footer ul li a{
    text-decoration: none;
    color: #d3d3d3;
    line-height: 1.8rem;
}
.facebook_logo{
    border-radius: 50%;
}
.social-link img{
    width: 30px;
}