<footer>
    <div class="footer">
      <div class="container d-block d-md-flex d-lg-flex">
        <div class="col-12 col-md-4 col-lg-4 py-4 my-lg-4 my-md-4 my-0">
          <ul>
            <li>
              <h4 class="text-light">Company</h4>
            </li>
            <li><a routerLink="about">About us</a></li>
            <li><a routerLink="contact">Contact us</a></li>
            <li><a routerLink="job">Jobs</a></li>
            <li><a routerLink="advertise">Advertise</a></li>
            <li><a routerLink="privacy">Privacy policy</a></li>
            <li><a routerLink="term_of_use">Terms of use</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 col-lg-4 py-4 my-lg-4 my-md-4 my-0">
          <ul>
            <li>
              <h4 class="text-light">Connect</h4>
            </li>
            <li><a routerLink="blog">Blog</a></li>
            <!-- <li><a href="./news.html">News</a></li> -->
            <li><a routerLink="agent">Real Estate Agents</a></li>
            <li><a routerLink="sell">Sale Property</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4 col-lg-4 py-4 my-lg-4 my-md-4 my-0">
          <ul>
            <li>
              <h4 class="text-light">Head Office</h4>
            </li>
            <li><a href="">Address</a></li>
            <li><a href="">+92-331-555-7494</a></li>
            <li><a href="">24/7</a></li>
            <li><a href="">Plotsadda78&#64;gmail.com</a></li>
          </ul>
          <div class="link-section d-flex m-4">
            <div class="social-link mx-2" >
              <a href="">
                <img class="s-link-logo" src="./assets/youtube-logo-removebg-preview.png" alt="">
              </a>
            </div>
            <div class="social-link mx-2">
              <a href="">
                <img class="s-link-logo facebook_logo" src="../../assets/facebook_logo_white.png" alt="">
              </a>
            </div>
            <div class="social-link mx-2">
              <a href="">
                <img class="s-link-logo" src="./assets/insta-logo-removebg-preview.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>