.label-img{
    width: 50px;
    border-radius: 10px;   
}
.w-55{
    width: 55%;
}
.w-20{
    width: 19%;
}
.no_of_bath{
    display: grid;
    grid-template-columns: auto auto auto;
}
.no_of_rooms{
    display: grid;
    grid-template-columns: auto auto auto;
}
.youtube-icon{
    width: 25px;
    height: 20px; 
}
.video-link input{
    border: none;
}
.video-link input:focus{
    outline: none;
}
.video-link{
    border: 1px solid #767676;
    border-radius: 10px ;
}
.video-link:hover {
    border: 1px solid #2541df;
    border-radius: 10px ;
}
.w-35{
    width: 35%;
}
#add_video{
    display: none;
}
.listing_submit{
    margin:10px 10px 10px 60vw;
}

.user{
    background: #ffffff;
    border-radius: 25px;
}
    /* Custom styling for tabs */
    .custom-tabs .nav-link {
        color: black; /* Unselected tab color */
        font-weight: 500;
        border: none; /* Remove border */
        border-bottom: 2px solid transparent; /* Hide bottom border by default */
      }
      
      /* Style for the active tab */
      .custom-tabs .nav-link.active {
        color: #28a745; /* Green color for selected tab */
        border-bottom: 3px solid #28a745; /* Green underline for selected tab */
        font-weight: bold;
      }
    
      /* Hover effect */
      .custom-tabs .nav-link:hover {
        color: #28a745; /* Green color on hover */
      }
      .type_container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 100px;
      }
      .form-check-label{
        margin: 5px;
      }
      
      .form-check {
        flex: 1 1 calc(33.33% - 10px); /* Three columns layout */
        padding: 5 0;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
      }
      .form-switch{
        padding-left:0 ;
      }
      .form-check-label{
       width: 92%; 
      }
      .form-switch .form-check-input{
        margin-left: 0;
      }
      .form-check:hover {
        color: #28a745; /* Change text color to green on hover */
      }
      .city_arrow {
        width: 18px;
        transform: rotate(45deg);
        margin-right: 8px; /* Space between arrow and city name */
      }
      /* Remove the underline for all links */
      .city_item a {
        text-decoration: none;
      }
