.btn_img{
    width: 25px;
}
.proj-side-img{
    height: 243px;
}
.proj-main-img{
    height: 500px;
}
.call_model{
    font-size: 25px;
}
.sec1{
    margin: 20px;
}
.sec1 img{
    width: 500px;
}
.project_map img{
    width: 80vw;
}