.btn_img{
    width: 25px;
}
.proj-side-img{
    height: 243px;
}
.proj-main-img{
    height: 500px;
}
.call_model{
    font-size: 25px;
}
.sec1{
    margin: 20px;
}
.sec1 img{
    /* width: 500px; */
    height: 95%;
}
.project_map img{
    width: 80vw;
}
.payment_plan_sec{
    height: 380px;
    padding: 50px;
    background: rgb(226, 226, 226);
}
