<div class="section">
    <div class="banner">
        <!-- <h1>Term of Use</h1>  -->

    </div>
    <div class="container">
      <div class="contact-main  d-block d-md-flex d-lg-flex m-4">
        <div class="form col-12 col-md-6 col-lg-4 card p-4">
          <form action="" [formGroup]="messageForm">
            <div class=" p-2 ">
              <div class="label">
                <label for="">Name*</label>
              </div>
              <input type="text" formControlName="user_name" class="w-100 p-1 form-control" placeholder="Enter Your Name">
            </div>
            <div class="p-2">
              <div class="label">
                <label for="">Phone no.</label>
              </div>
              <input type="number" formControlName="phone" class="w-100 p-1 form-control" maxlength="13" value="92" >
            </div>
            <div class="p-2">
              <div class="label">
                <label for="">Email</label>
              </div>
              <input type="email" formControlName="email" class="w-100 form-control p-1" placeholder="Enter Email">
            </div>
            <div class="p-2">
              <div class="label">
                <label for="">Location</label>
              </div>
              <select id="" formControlName="city" class="w-100 p-1 form-control">
                <option value="">--Select--</option>
                <option *ngFor="let city of cityList" value="{{city.value}}">{{city.cityName}}</option>
              </select>
            </div>
            <div class="p-2">
              <div class="label">
                <label for="">Subject</label>
              </div>
              <input type="text" formControlName="subject" class="w-100 form-control p-1" value="General Inquiry">
            </div>
            <div class="p-2">
              <div class="label">
                <label for="">Your Message</label>
              </div>
              <input type="text" class="w-100 form-control p-1" formControlName="message" placeholder="Describe Your Query">
            </div>
            <div>
              <div class="p-2">
                <input type="radio" formControlName="role_check" value="agent" id="agent" (change)="personType()">
                <label for="agent" class="p-1">Are you Agent</label>
                <input type="radio" formControlName="role_check" value="developer" id="develop" (change)="personType()">
                <label for="develop" class="p-1" >Are you Developer</label>
              </div>
            </div>
            <div class="p-2" id="p-type" *ngIf="isAgent">
              <div class="label">
                <label for="">Type</label>
              </div>
              <select name="" id="" formControlName="role_type" class="w-100  form-control   p-1">
                <option value="">--Select--
                <option value="starter">Starter</option>
                <option value="business">Business</option>
                <option value="titanium">Titanium</option>
                <option value="titanium+">Titanium Plus</option>
                <option value="starter_pack">Starter Pack</option>
                <option value="value_booster">Value Booster</option>
                <option value="premium_developer">Premium Developer</option>
                <option value="developer_signup">Sign up as a developer</option>
                <option value="agent_signup">Sign up as an Agent</option>
              </select>
            </div>
            <div class="submit text-center">
              <button class="btn btn-success w-100" (click)="sendQuery()">Send Your Question</button>
            </div>
          </form>
        </div>
        <div class="col-1 d-none d-lg-block"></div>

        <div class="form-text col-12 col-md-6 col-lg-7 m-4 p-4">
          <h4 class="text-center">Welcome to PlotsAdda.com!</h4>
          <h3>We’re Here for You Every Step of the Way!</h3>
          <p>Have questions about buying, selling, or renting? We're here to make the process as smooth and enjoyable as possible. Reach out to us with any inquiries or concerns, and our team will provide you with the guidance and support you need. Just fill out the form below or give us a call, and we’ll get back to you quickly.</p>
          <p>Your satisfaction is our success!</p>

        </div>
      </div>
    </div>

  </div>