<div class="content-container1" style="background-color: #13a137; padding: 5px 30px; left: 0; width: 100%;">
    <div class="row">
      
<!-- Buy and rent drop dropdown -->
<div class="filter_div col-md-3"  >
        <div class="label">
          <label for="" style="color: white;"><b>I want to</b></label>
        </div>
        <div class="">
          <div class="">
              <select class="form-control" id="purpose" name="whoAreU">
                  <option value="buy">Buy</option>
                  <option value="rent">Rent</option>
              </select>
          </div>
        </div>
</div>
          <!-- city dropdown -->
          <div class="filter_div col-md-3">
            <div class="label">
              <label for=""  style="color: white;"><b>City</b></label>
            </div>
              <select class="form-control">
                <option value="">--Select--</option>
                 <option *ngFor="let city of cityList" value="{{city.value}}">{{city.cityName}}</option>
              </select>
          </div>


          <!-- Location dropdown -->
          <div class=" filter_div col-md-3">
            <div class="label">
              <label for="" style="color: white;"><b>Location</b></label>
            </div>
            <input type="text" class="w-100 form-control" placeholder="Enter Location" >
          </div>

          <!-- Property_type -->
            
          <div class="filter_div col-md-3">
            <div class="label">
                <label for="" style="color: white;"><b>Property Type</b></label>
            </div>

            <!-- cascade antDesign -->
             <div class="cascade_div">
               <nz-cascader
               class="form-control w-100"
               [nzExpandTrigger]="'hover'"
               [nzOptions]="nzOptions"
               [(ngModel)]="values"
               (ngModelChange)="typeChanges($event)"
               ></nz-cascader>
              </div>
          </div>
          </div>
    <div class="row">
<!-- price dropdown -->

<div class="filter_div col-md-3" >
  <div id="">
    <div id="price_min" class=" d-flex" style="background-color:transparent;">
      <div class=" w-100 mb-3" style="padding-right: 15px;margin-right:10px;">
          <label for="minPrice" style="color: white;"><b>Price Min:</b></label>
          <select class="form-control" id="minPrice" (change)="maxUpdate($event)" name="minPrice" >
            <option value="">Select</option>
              <option *ngFor="let min of filterMinPrice" value="{{min.value}}">{{min.value}}</option>
          </select>
      </div>
      <div class=" filter_div w-100 mb-3" style="padding-left: 15px;">
          <label for="maxPrice"style="color: white;"><b>Price Max:</b></label>
          <select class="form-control w-100" (change)="minUpdate($event)" id="maxPrice" name="maxPrice">
            <option value="">Select</option>
            <option style="border: 2px solid black;" *ngFor="let max of filterMaxPrice" value="{{max.value}}" >{{max.value}}</option>
          </select>
      </div>
    </div>
  </div>
</div>
<!-- area range drop down -->
<div class="filter_div col-md-3">
  <div class="label">
      <label for="areaRange" style="color: white;"><b>Area Marla to Kanal</b></label>
      <select id="areaRange" name="areafilter" class="form-select">
          <option value="">Select</option>
          <option value="1-m">1 Marla</option>
          <option value="2-m">2 Marla</option>
          <option value="3-m">3 Marla</option>
          <option value="4-m">4 Marla</option>
          <option value="5-m">5 Marla</option>
          <option value="6-m">6 Marla</option>
          <option value="7-m">7 Marla</option>
          <option value="8-m">8 Marla</option>
          <option value="9-m">9 Marla</option>
          <option value="10-m">10 Marla</option>
     <hr>
          <option value="2-m">2 Kanal</option>
          <option value="4-k">4 Kanal</option>
          <option value="6-k">6 Kanal</option>
          <option value="8-k">8 Kanal</option>
          <option value="10-k">10 Kanal</option>
 
      </select>
  </div>
</div>
<div class="filter_div col-md-3">
  <div class="label_area">
      <label for="min-area" style="color: white;"><b>Area</b></label>
      <input type="text" class="w-100 form-control" placeholder="Enter Value" >
  </div>
</div>
<!-- bed rooms drop down -->
<div id="home_opt" class="col-md-3 d-flex" style="background-color:transparent;">
  <div class="filter_div w-100 mb-3" style="padding-right: 15px;">
      <label for="bedrooms" style="color: white;"><b>Beds</b></label>
      <select class="form-control" id="bedrooms" name="roomNo">
        <option value="">Select</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10+</option>
      </select>
  </div>
  <div class=" filter_div w-100 mb-3" style="padding-left: 15px;">
      <label for="bathrooms"style="color: white;"><b>Baths</b></label>
      <select class="form-control" id="bathrooms" name="broomNo">
        <option value="">Select</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5+</option>
      </select>
  </div>
</div>
</div>
</div>


<div class="section">
    <div class="main" >
        <div class="row">
         <!-- Left Column (Section for Ads) -->
          <div class="col-12 col-md-8" style="margin-left: 50px;">
          <div class="container">            
                <div class="show-property">
                  <div>
                    <div class="card my-4" *ngFor="let property of buy_list" (click)="viewProperty(property._id)" >
                      <div class="d-flex">
                          <div class="image-container  w-50">
                            <span class="px-2 bg-danger text-light hot">HOT</span>
                          <img class="card-img-top  w-100" src="{{property.property_img}}" alt="Card image cap">
                          <div class="icon-text">
                            <i class="fa fa-camera"></i> <span  class="mr-2 ms-1">28</span>
                        </div>
  
                          <div class="icon-container">
                            <button class="icon-btn">
                              <i class="fa fa-heart"></i>
                            </button>
                            <button class="icon-btn">
                              <i class="fa fa-share"></i>
                            </button>
                            <button class="icon-btn">
                              <i class="fa fa-location-arrow"></i>
                            </button>
                          </div>
                        </div>
                        
                        <div class="row_class w-50">
                          <!-- Card Body Section -->
                          <div class="card-body">
                            <h5>Rs: {{property.price}}</h5>
                            <h6>{{property.location}}</h6>
                            <p><strong>Property Details:</strong></p>
                            <p>
                                <i class="fa fa-bed"></i> {{property.no_of_bedroom}} Beds
                                <i class="fa fa-shower" style="margin-left: 10px;"></i> {{property.no_of_bath}} Baths
                                <i class="fa fa-ruler-vertical" style="margin-left: 10px;"></i> {{property.area_size}} {{property.area_unit}}
                            </p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p>Property owner details</p>
                        </div>
                        
                      
                          <!-- Buttons Section Below Content -->
                          <div class="btn-container p-9">
                              <a href="mailto:example@example.com" class="btn btn-outline-success">
                                  <i class="fas fa-envelope"></i>
                              </a>
                              <a href="https://wa.me/{{property.phone}}" target="_blank" class="btn btn-outline-success">
                                  <i class="fab fa-whatsapp"></i> WhatsApp
                              </a>
                              <a href="tel:+1234567890" class="btn btn-success">
                                  <i class="fas fa-phone-alt"></i> CALL
                              </a>
                          </div>
                      </div>
                      </div>
                      </div>
                    </div>
                    <div class="card my-4" >
                      <div class="d-flex">
                          <div class="image-container  w-50">
                            <span class="px-2 bg-danger text-light hot">HOT</span>
                          <img class="card-img-top  w-100" src="../../assets/3.jpeg" alt="Card image cap">
                          <div class="icon-text">
                            <i class="fa fa-camera"></i> <span  class="mr-2 ms-1">28</span>
                        </div>
                          <div class="icon-container">
                            <button class="icon-btn">
                              <i class="fa fa-heart"></i>
                            </button>
                            <button class="icon-btn">
                              <i class="fa fa-share"></i>
                            </button>
                            <button class="icon-btn">
                              <i class="fa fa-location-arrow"></i>
                            </button>
                          </div>
                        </div>
                        
                        <div class="row_class w-50">
                          <!-- Card Body Section -->
                          <div class="card-body">
                            <h5>Rs: 4,500,000</h5>
                            <h6>Johar Town Phase 2 - Block L</h6>
                            <p><strong>Property Details:</strong></p>
                            <p>
                                <i class="fa fa-bed"></i> 7 Beds
                                <i class="fa fa-shower" style="margin-left: 10px;"></i> 5 Baths
                                <i class="fa fa-ruler-vertical" style="margin-left: 10px;"></i> 3000 Sq Ft
                            </p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p>Property owner details</p>
                        </div>
                        
                      
                          <!-- Buttons Section Below Content -->
                          <div class="btn-container p-9">
                              <a href="mailto:example@example.com" class="btn btn-outline-success">
                                  <i class="fas fa-envelope"></i>
                              </a>
                              <a href="https://wa.me/1234567890" target="_blank" class="btn btn-outline-success">
                                  <i class="fab fa-whatsapp"></i> WhatsApp
                              </a>
                              <a href="tel:+1234567890" class="btn btn-success">
                                  <i class="fas fa-phone-alt"></i> CALL
                              </a>
                          </div>
                      </div>
                      </div>
                    </div>
                    <div class="card my-4">
                      <div class="d-flex">
                          <div class="image-container  w-50">
                            <span class="px-2 bg-danger text-light hot">HOT</span>
                          <img class="card-img-top  w-100" src="../../assets/3.jpeg" alt="Card image cap">
                          <div class="icon-text">
                            <i class="fa fa-camera"></i> <span  class="mr-2 ms-1">28</span>
                        </div>
                          <div class="icon-container">
                            <button class="icon-btn">
                              <i class="fa fa-heart"></i>
                            </button>
                            <button class="icon-btn">
                              <i class="fa fa-share"></i>
                            </button>
                            <button class="icon-btn">
                              <i class="fa fa-location-arrow"></i>
                            </button>
                          </div>
                        </div>
                        
                        <div class="row_class w-50">
                          <!-- Card Body Section -->
                          <div class="card-body">
                            <h5>Rs: 4,500,000</h5>
                            <h6>Johar Town Phase 2 - Block L</h6>
                            <p><strong>Property Details:</strong></p>
                            <p>
                                <i class="fa fa-bed"></i> 7 Beds
                                <i class="fa fa-shower" style="margin-left: 10px;"></i> 5 Baths
                                <i class="fa fa-ruler-vertical" style="margin-left: 10px;"></i> 3000 Sq Ft
                            </p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p>Property owner details</p>
                        </div>
                        
                      
                          <!-- Buttons Section Below Content -->
                          <div class="btn-container p-9">
                              <a href="mailto:example@example.com" class="btn btn-outline-success">
                                  <i class="fas fa-envelope"></i>
                              </a>
                              <a href="https://wa.me/1234567890" target="_blank" class="btn btn-outline-success">
                                  <i class="fab fa-whatsapp"></i> WhatsApp
                              </a>
                              <a href="tel:+1234567890" class="btn btn-success">
                                  <i class="fas fa-phone-alt"></i> CALL
                              </a>
                          </div>
                      </div>
                        
                            <!-- Buttons Section Below Content -->
                           
                  
                   
                  </div>
                    </div>
                  </div>
              
                
              
            </div>
          </div>
            <div class="col-12 col-md-3">
              <section class="ads-section" >
                  <h5 class="text-center">Section for Ads</h5>
              </section>
          </div>
          </div>
        </div>
</div>