<div class="main">
    <div class="banner text-center">
        <!-- <h1>Term of Use</h1>  -->
    </div>
    <div class="container">
        <div class="wrapper">
            <dl>
                <dt> 1. Acceptance of Terms    </dt>
                <dd>
                    Welcome to PlotsAdda. By accessing or using our website (the “Site”), you agree to comply with and be bound by the following terms and conditions (the “Terms of Use”). If you do not agree with these terms, please do not use the Site.
                </dd>

                <dt> 2. Changes to Terms    </dt>
                <dd>
                    We reserve the right to modify these Terms of Use at any time. Changes will be effective when posted on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new terms.
                </dd>

                <dt> 3. Use of Site    </dt>
                <dt class="indent">a. Eligibility: </dt>
                <dd class="indent">There are no age restrictions for accessing and using our website.</dd>
                <dt class="indent">b. General Access:</dt>
                <dd class="indent">The website is available to anyone interested in real estate, whether for buying, selling, renting, or learning more about the market.</dd>
                <dt class="indent">c. User Responsibilities: </dt>
                <dd class="indent">You agree to use the Site in accordance with all applicable laws and regulations and not to engage in any conduct that could damage, disable, or impair the Site or interfere with any other party’s use of the Site.</dd>
                <dt class="indent">d. Account Security:</dt>
                <dd class="indent">If you create an account, you are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. Notify us immediately of any unauthorized use of your account.</dd>

                <dt> 4. Intellectual Property    </dt>
                <dt class="indent">a. Ownership: </dt>
                <dd class="indent">
                    All content on the Site, including but not limited to text, graphics, logos, and images, is the property of PlotsAdda or its licensors and is protected by intellectual property laws.
                </dd>
                <dt class="indent">b. Limited License: </dt>
                <dd class="indent">You may view, download, and print content from the Site for personal, non-commercial use only. You may not reproduce, distribute, or create derivative works from the content without our express written permission.</dd>

                <dt> 5. Content and Links    </dt>
                <dt class="indent">a. Accuracy of Information: </dt>
                <dd class="indent">
                    We strive to provide accurate and up-to-date information on the Site. However, we do not warrant the accuracy, completeness, or reliability of any content.
                </dd>
                <dt class="indent">b. Third-Party Links: </dt>
                <dd class="indent">The Site may contain links to third-party websites. These links are provided for your convenience and do not imply endorsement or responsibility for the content of such sites.</dd>

                <dt> 6. Limitation of Liability    </dt>
                <dt class="indent">a. Disclaimer:</dt>
                <dd class="indent">
                    The Site is provided on an “as is” and “as available” basis. We make no warranties, express or implied, regarding the Site’s availability, functionality, or content.
                </dd>
                <dt class="indent">b. Liability Limitation: </dt>
                <dd class="indent">To the fullest extent permitted by law, PlotsAdda shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or in connection with your use of the Site.</dd>

                <dt> 7. Indemnification    </dt>
                <dd>
                    You agree to indemnify, defend, and hold harmless PlotsAdda and its affiliates, officers, directors, employees, and agents from any claims, liabilities, damages, losses, and expenses arising out of or related to your use of the Site or violation of these Terms of Use.
                </dd>

                <dt> 8. Termination    </dt>
                <dd>
                    We reserve the right to terminate or suspend your access to the Site, without prior notice, if you violate these Terms of Use or for any other reason at our sole discretion.
                </dd>

                <dt>9. Governing Law     </dt>
                <dd>
                    These Terms of Use shall be governed by and construed in accordance with the laws of Pakistan, without regard to its conflict of law principles.
                </dd>

                <dt> 10. Contact Us    </dt>
                <dd>
                    If you have any questions about these Terms of Use or the Site, please <a class="text-primary" href="./contact.html">contact us</a>.
                </dd>
            </dl>
        </div>
    </div>
</div>