.blog-posting{
    text-decoration: none;
    display: block;
}
.main-section{
    background: #F4F5F7;
}
.user{
    background: #ffffff;
    border-radius: 25px;
}
.form textarea{
    border-radius: 10px;
    height: 135px;
}
quill-editor {
    display: block;
    height: 250px;
    width: 100%;
  }
  .ql-container {
    height: 100% !important;
  }
  
  .ql-editor {
    min-height: 200px;
  }  