<div class="main">
    <div class="banner text-center">
        <!-- <h1>Privacy Policy</h1>  -->
    </div>
    <div class="container">
        <div class="wrapper my-3">
            <h4>Privacy Policy for PlotsAdda</h4>
            <h4>Effective Date: [01-08-2024]</h4>
            <p>At PlotsAdda, we are committed to protecting your privacy and ensuring that your personal information is handled responsibly. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website, www.plotsadda.com, or use our services. By accessing or using our website, you agree to the terms outlined in this policy.</p>
            <dl>
                <dt>1. Information We Collect</dt>
                <dd>
                  We collect information from you in the following ways:
                </dd>

                <dt> 1.1 Personal Information:    </dt>
                
                  When you interact with our website or services, we may collect personal information such as:
                  <dd class="indent">
                   <b> •	Contact Information:</b> Name, email address, phone number, postal address, and any other details you provide when filling out forms, contacting us, or subscribing to our newsletter.
                  </dd>
                  <dd class="indent">
                    <b>•	Account Information: </b>Username, password, and profile details if you create an account with us.
                  </dd>
                  <dd class="indent">
                    <b>•	Financial Information: </b>Payment information, billing address, and other details necessary for processing transactions or services.
                  </dd>
                  <dd class="indent">
                    <b>•	Communication Data:</b>Information from your communications with us, including emails, messages, or any feedback you provide.
                  </dd>
                

                <dt>1.2 Property-Related Information:</dt>
                
                  <dd class="indent">
                    •	Details about properties you are interested in, including search preferences, saved properties, and any information you share while using our platform.
                  </dd>
                

                <dt>1.3 Automatically Collected Information:</dt>
                
                  <dd class="indent">
                    <b>•	Usage Data: </b>
                    Information about your interactions with our website, such as IP address, browser type, device type, operating system, referring URLs, and clickstream data.
                  </dd>
                  <dd class="indent">
                    <b>•	Cookies and Similar Technologies: </b>
                    We use cookies, web beacons, and similar technologies to collect data to enhance your experience. Please refer to our Cookie Policy for more details.
                  </dd>
                

                <dt>1.4 Information from Third Parties:</dt>
                
                  <dd class="indent">
                    •	We may receive information from third-party partners, such as property listing providers, advertising networks, and analytics providers.
                  </dd>
              

                <dt>2. How We Use Your Information</dt>
                <dd>
                  We use your information for various purposes, including but not limited to:
                  <dd class="indent">
                    <b>•	Providing and Managing Services: </b>
                    To process your requests, manage your account, and deliver the services you’ve requested.
                  </dd>
                  <dd class="indent">
                    <b>•	Customer Support: </b>To respond to your inquiries, provide support, and resolve any issues or complaints.
                  </dd>
                  <dd class="indent">
                    <b>•	Personalization: </b>To tailor our content, recommendations, and services to your interests and preferences.
                  </dd>
                  <dd class="indent">
                    <b>•	Marketing and Communication: </b>To send you promotional materials, updates, and offers if you have consented to receive them.
                  </dd>
                  <dd class="indent">
                    <b>•	Improving Our Services: </b>To analyze trends, monitor usage, and improve our website and services.
                  </dd>
                  <dd class="indent">
                    <b>•	Legal Compliance and Security: </b>To comply with applicable laws, enforce our terms and conditions, and protect our rights and the rights of others.
                  </dd>
             

                <dt>3. Sharing Your Information</dt>
                <dd>
                  We may share your information with:
                  <dd class="indent">
                    <b>•	Service Providers: </b>Third-party vendors who help us operate our website, provide services, process payments, or deliver marketing communications.
                  </dd>
                  <dd class="indent">
                    <b>•	Business Partners: </b>Trusted partners with whom we collaborate to offer additional services or features.
                  </dd>
                  <dd class="indent">
                    <b>•	Legal Authorities: </b>If required by law, to comply with legal obligations, protect our rights, or prevent fraud or misuse of our services.
                  </dd>
                  <dd class="indent">
                    <b>•	Business Transfers: </b>In the event of a merger, acquisition, or sale of assets, your information may be transferred as part of the transaction.
                  </dd>
              

                <dt>4. International Data Transfers</dt>
                <dd>
                  We operate globally, and your information may be transferred to, stored, and processed in countries other than the country in which it was initially collected. We take steps to ensure that international data transfers comply with applicable laws and that your personal information is protected.
                </dd>

                <dt>5. Data Security</dt>
                <dd>We implement a variety of security measures to maintain the safety of your personal information. These measures include encryption, firewalls, secure server hosting, access controls, and regular monitoring for potential vulnerabilities and attacks. Despite these efforts, no method of transmission over the internet or method of electronic storage is completely secure.</dd>

                <dt>6. Retention of Your Information</dt>
                <dd>We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law. The retention period will depend on factors such as the nature of the data, the purposes for which it was collected, and applicable legal requirements.</dd>

                <dt>7. Your Rights and Choices</dt>
                <dd>
                  Depending on your location, you may have the following rights regarding your personal information:
                  <dd class="indent">
                    <b>•	Right to Access: </b>You have the right to request access to the personal information we hold about you.
                  </dd>
                  <dd class="indent">
                    <b>•	Right to Rectification: </b>You have the right to request correction of any inaccurate or incomplete information.
                  </dd>
                  <dd class="indent">
                    <b>•	Right to Erasure: </b>You have the right to request the deletion of your personal information, subject to certain conditions.
                  </dd>
                  <dd class="indent">
                    <b>•	Right to Restrict Processing: </b>You have the right to request that we restrict the processing of your personal information in certain circumstances.
                  </dd>
                  <dd class="indent">
                    <b>•	Right to Data Portability: </b>You have the right to request a copy of your personal information in a structured, commonly used, and machine-readable format.
                  </dd>
                  <dd class="indent">
                    <b>•	Right to Object: </b>You have the right to object to the processing of your personal information for direct marketing purposes or based on our legitimate interests.
                  </dd>
                  <dd class="indent">
                    <b>•	Right to Withdraw Consent: </b>If you have given consent for the processing of your data, you have the right to withdraw your consent at any time.
                  </dd>
                  <dd>
                  To exercise any of these rights, please contact us at [your contact email]. We will respond to your request within the time frame required by applicable law.
                </dd>
            

                <dt>8. Children’s Privacy</dt>
                <dd>Our website is not intended for children under the age of 13. We do not knowingly collect personal information from children under 13. If you are a parent or guardian and believe that we have collected information about your child, please contact us immediately, and we will take steps to delete the information promptly.</dd>

                <dt>9. Cookies and Tracking Technologies</dt>
                <dd>We use cookies and similar tracking technologies to enhance your experience on our website, analyze usage, and assist with marketing efforts. Cookies are small text files that are stored on your device when you visit a website. For more information about how we use cookies and how you can control them, please refer to our Cookie Policy.</dd>
                  
                <dt>10. Third-Party Links</dt>
                <dd>Our website may contain links to third-party websites, plugins, and applications. Clicking on those links or enabling those connections may allow third parties to collect or share data about you. We do not control these third-party websites and are not responsible for their privacy practices. We encourage you to read the privacy policies of any third-party sites you visit.</dd>

                <dt>11. Updates to This Privacy Policy</dt>
                <dd>We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. Any changes will be posted on this page, and the updated version will be effective as of the date indicated. We encourage you to review this Privacy Policy periodically to stay informed about how we are protecting your information.</dd>

                <dt>12. Governing Law</dt>
                <dd>This Privacy Policy shall be governed by and construed in accordance with the laws of [Your Country/State]. Any disputes arising out of or related to this Privacy Policy will be resolved in accordance with the laws of [Your Country/State].</dd>

                <dt>13. Contact Us</dt>
                <dd>
                  If you have any questions, concerns, or requests regarding this Privacy Policy or our data practices, please contact us at:
                  <a class="text-primary" href="./contact.html"> Contact Us </a>
                </dd>
            </dl>
        </div>
    </div>
</div>